<!-- this line gives access to the schema below so that it can modify the file by calling "section.settings.pagination" -->
{% paginate collection.products by section.settings.pagination %}

<ul class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
    {% for product in collection.products %}
      <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
        {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
      </li>
    {% else %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
        <li class="grid__item">
          <div class="grid grid--uniform">
            {% for i in (1..limit) %}
              <div class="grid__item {{ grid_item_width }}">
                <div class="grid-view-item">
                  <a href="#" class="grid-view-item__link">
                    <div class="grid-view-item__image">
                      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                    <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                    <div class="grid-view-item__meta">
                      <span class="product-price__price">$19.99</span>
                    </div>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
        </li>
      {% else %}
        {%- assign is_empty_collection = true -%}
      {% endif %}
    {% endfor %}
  </ul>

<!-- this was copied directly from https://shopify.dev/docs/themes/settings -->
{% schema %}
{
    "name": "Collection Template",
    "settings": [
        {
            "type":   "range",
            "id":     "pagination",
            "min":       5,
            "max":       25,
            "step":      5,
            "label":     "Products per page",
            "default":   5
        }
    ]
}
{% endschema %}